.page {
  padding: 32px;
  margin-top: 56px;
  min-width: 320px;
}

.content {
  color: black;
  width: calc(100% - 64px);
  max-width: 1200px;
  height: calc(100% - 56px - 96px);
  margin: 0 auto;
  background: white;
  padding: 16px 32px;
  border-radius: 25px;
}

.content-header {
  display: flex;
  align-items: center;
}

.content-header div {
  width: fit-content;
  margin-left: auto;
}

.content-header span {
  font-size: x-large;
  font-weight: bold;
}

.games-container {
  margin-bottom: 2rem;
}

.games-container:last-of-type {
  margin-bottom: 1rem;
}

.games-container mat-table {
  min-width: 250px;
}

.games-header {
  display: flex;
}

.date {
  margin-bottom: 0.5rem;
}

.date span {
  font-size: medium;
  font-weight: lighter;
  font-style: italic;
}

.date-note {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

.team-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.standings {
  font-size: small;
  color: gray;
  margin-left: 0.25rem;
}

.games-link-container {
  display: flex;
}

.games-link-container .games-link {
  margin-right: 0.5rem;
}

.games-link a {
  color: #304adf;
  text-decoration: none;
  font-size: smaller;
  font-weight: bold;
}

.games-link a:hover {
  color: #0d1b6b;
}

.live-score {
  display: flex;
  align-items: center;
  color: green;
  font-size: small;
  font-weight: bold;
}

.games-container mat-cell:last-of-type,
.games-container mat-header-cell:last-of-type,
.games-container mat-footer-cell:last-of-type {
  flex: 1 0 25px;
}

@media only screen and (max-width: 768px) {
  .page {
    padding: 0;
  }

  .content {
    border-radius: 0;
  }
}

@media only screen and (max-width: 450px) {
  .standings {
    display: none;
  }

  .team-logo {
    width: 20px;
    height: 20px;
  }

  .content-header {
    display: block;
  }

  .content-header div {
    width: fit-content;
    margin-left: 0;
    margin-top: 0.25rem;
  }

  .date span {
    font-size: 15px;
  }

  .dateNote {
    font-size: 12px;
  }
}
