<div mat-dialog-title>
  <mat-icon>warning</mat-icon>
  <span>Advisory</span>
  <mat-icon>warning</mat-icon>
</div>
<div mat-dialog-content id="dialog-container">
  <span>
    Due to the current events, NBA has suspended their season.<br />
    Some of the links to scheduled games may not be working.<br />
    Past games are currently working (e.g.
    <a href="https://nba.pravinthan.com/#/games/20200205/0021900758"
      >https://nba.pravinthan.com/#/games/20200205/0021900758</a
    >)
  </span>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial color="primary">
    Confirm
  </button>
</mat-dialog-actions>
