<div class="home">
  <div class="home-text">
    <div>
      <span style="font-size: xx-large; font-weight: bold;">
        Welcome to NBA Visualizer
      </span>
    </div>
    <div style="margin-top: 0.5rem;">
      <span>
        A hub for user-friendly NBA statistics
      </span>
    </div>
    <div class="links">
      <span>Features: </span>
      <a mat-flat-button routerLink="/schedule">
        <mat-icon mat-list-icon>
          sports_basketball
        </mat-icon>
        Schedule
      </a>
      <a mat-flat-button (click)="openBoxScoreSnackBar()">
        <mat-icon mat-list-icon>
          table_chart
        </mat-icon>
        Box score
      </a>
      <a mat-flat-button (click)="openPlayByPlaySnackBar()">
        <mat-icon mat-list-icon>
          show_chart
        </mat-icon>
        Play-by-play
      </a>
    </div>
  </div>
</div>
