html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px !important;
}

.mat-toolbar-multiple-rows {
  min-height: 56px !important;
}
